.btnDelete {
  margin-left: 10px;
}
.btnDelete:hover,
.btnDelete:focus {
  background-color: #5a95f5;
}
.item {
  font-size: 15px;
  font-weight: 500;
}

.contactItem span {
  font-weight: 700;
}

.modalBody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%),
    0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
  padding: 32px;
}
